<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--数据库相关配置-->
    <context:property-placeholder location="WEB-INF/cfgs/database.properties"/>



    <!-- 配置事务管理器 -->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->


    <!--myBatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--mybatis config-->
        <property name="configLocation" value="classpath:org/ngnono/gechu/core/repository/mapper/mybatis.xml"/>
        <!-- mapper and resultmap-->
        <property name="mapperLocations">
            <list>
                <value>classpath:org/ngnono/gechu/core/repository/mapper/*-mapper.xml</value>
                <value>classpath:org/ngnono/gechu/core/repository/mapper/**/*-mapper.xml</value>
                <value>classpath:org/ngnono/gechu/core/repository/mapper/*-resultmap.xml</value>
                <value>classpath:org/ngnono/gechu/core/repository/mapper/**/*-resultmap.xml</value>
            </list>
        </property>

    </bean>

    <!--MySQL Datasource   -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${default.jdbc.url}"/>
        <property name="username" value="${default.jdbc.username}"/>
        <property name="password" value="${default.jdbc.password}"/>
    </bean>

    <!--mybatis mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.ngnono.gechu.core.repository.mapper"/>
        <property name="markerInterface" value="org.ngnono.gechu.core.repository.mapper.BaseMapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>